<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card padding>
    <ion-item>
      <ion-label>Cambiar Contraseña</ion-label> 
  </ion-item>

  <ion-item>
      <ion-label position="floating"> Contraseña </ion-label>
      <ion-input [(ngModel)]="password" type="password" name="password"></ion-input>
  </ion-item>
 
  <ion-button (click)="validar()" padding expand="block"> Cambiar</ion-button>
  <br>
  <br>
  <br>
  <ion-button (click)="cerrarSession()" padding expand="block"> Cerrar Session</ion-button>


  </ion-card>

</ion-content>
